wifi_ssid: "YourWiFiSSID"
wifi_password: "YourWiFiPassword"
api_encryption_key: "REPLACE_WITH_BASE64_KEY" # esphome generates one for you on first compile
ota_password: "REPLACE_WITH_A_STRONG_PASSWORD"
